<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blacksound</title>
    <script src="/static/js/vue.prod.js"></script>
</head>
<body>
    <h1>Blacksound</h1>

    <div id="app">
        <div>Status: {{ statusMessage }}</div>

        <div v-if="user.hasSession">
            You are logged in as {{ user.name }}

            <div>
                You're currently playing: {{ spotify.currentTrack }}
            </div>

            <div>
                Now try playing this track:
                <input id="trackUri" v-model="spotify.trackUri" width="40" />
                <button id="queueTrack" v-on:click="queueTrack">Queue track</button>
                <button id="playTrackNow" v-on:click="playTrack">Play track</button>
                <button id="pause" v-on:click="pause">Pause</button>
            </div>
        </div>
        <div v-else>
            You are not logged in yet,
            <a v-bind:href="spotify.redirectUri">click here</a>
            to authenticate with Spotify

            <div>
                Alternatively, paste authorization code below and click 'Authorize me':
                <div>
                    <input id="authorizationCode" v-model="spotify.authorizationCode" width="40" />
                    <button id="sendAuthorizationCode" v-on:click="sendAuthorizationCode">Authorize me</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/application.js"></script>
</body>
</html>